.main-header{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    background-color: aqua;
    >*{
        display:flex;
        align-items: center;
    }
    nav{
        a{
            color: $clr1;
            text-decoration: none;
            &:not(:last-of-type){
                margin-inline-end:58px;
            }
            &.active {
                background-color: $clr1;
                color: $clr2;
            }
        }
    }
}